# Environment
.env
venv/
.venv/
*.pyc
__pycache__/

# Local Data & DB
db/
*.db
*.log
# data/
*.csv
*.json

# OS
.DS_Store

all_code.txt
cmd.txt
informations/
.ruff_cache/
images/
# housing.db stuff
backend/data/housing.db
backend/data/housing.db-shm
backend/data/housing.db-wal